[Unit]
Description=Media Organizer
After=network.target

[Service]
User=ec2-user
WorkingDirectory=/home/ec2-user/
ExecStart=/usr/bin/java -Djava.net.preferIPv6Addresses=true -jar MediaOrganizer-0.0.1-SNAPSHOT.jar
EnvironmentFile=/etc/javaapp/javaapp.env
SuccessExitStatus=143
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target